The design requirements for this project as outlined in Appendix \ref{app:design_requirements_hardware} and Appendix \ref{app:design_requirements_software} were agreed upon by {SOMEONE - NOT SURE HOW TO PHRASE IAN AND ME}. The table acts a checklist for the project to ensure that the met all of these requirements, this was a dynamic list that was adapted and amended as the project progressed. The core requirements of the project remained the same but some of the higher level attainable aims were adapted as the project progressed. 


\Appendix{Hardware Design Requirements Table}\label{app:design_requirements_hardware}

\begin{table}
\begin{tabular}{lcl}
Ref & Requirement                           & Required?             \\
1   & Main body of the craft                & Yes                   \\
2   & Suitable Propulsion Method            & Yes                   \\
3   & Collection System for the litter      & Yes                   \\
4   & Custom remote controller and receiver & No - highly desirable \\
5   & Battery powered                       & Yes                   \\
6   & Suitably Waterproofed                 & Yes                  
\end{tabular}
\end{table}

\Appendix{Software Design Requirements Table}\label{app:design_requirements_software}

\begin{table}[]
\begin{tabular}{lll}
Ref & Requirement                                                                                                                                    & Required?         \\
1   & Suitable control system for movement of the craft                                                                                              & Yes               \\
2   & Suitable control system for collecting litter                                                                                                  & Yes               \\
3   & Sense when rubbish collection basket is full and alert the user                                                                                & Yes               \\
4   & Sense when the batteries (on either craft or remote) is running low and alert the user                                                         & Yes               \\
5   & Suitable communication system between the remote and receiver                                                                                  & Yes               \\
6   & Relay information from the receiver to the controller about battery voltage and time of current usage, etc.                                    & No - nice to have \\
7   & System to track amount of rubbish collected                                                                                                    & No - nice to have \\
8   & Calculations of carbon nuetrality of the collected litter, how much litter would need to be collected to make the craft environmentally viable & No - nice to have
\end{tabular}
\end{table}